* {
	margin: 0;
	padding: 0
}

body {
	font-family: Arial;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	background-attachment: fixed;
}

.main {
	width: 980px;
	margin: 20px auto;
	margin-top: 10px;
	display: block;
	overflow: hidden;
	background-color: #CBCBCB;
	border-radius: 5px;
	box-shadow: 0px -5px 215px 1px #595959
}

.header {
	width: 980px;
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: hidden
}

#show_list .ui-accordion-content {
	width: 100%;
	background-color: #FFFFFF;
	color: #FFFFFF;
	font-size: 10pt;
	line-height: 16pt;
	
}

#show_list .ui-accordion-header  {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    min-height: 0px;
	box-shadow: inset 0px 50px 10px 10px rgb(184, 113, 98);
	
	
}



.logo {
	width: 300px;
	float: left
	
}

.logo img {
	width: 280px;
	height:120px
}

.login {
	float: right;
	width: 180px;
	margin-top:50px;
	margin-left: 10px;
	margin-right: 10px
}

.login ul {
	list-style: none
}

.login ul li {
	padding: 5px;
	border-bottom: 1px solid #dddddd
}

.login ul li a {
	text-decoration: none;
	color: #000000
}

.login ul li a:hover {
	background: #E0E0E0
}

#log {
	float: left;
	margin: 10px auto;
	border: 1px solid #484848;
	border-radius: 3px;
	padding: 7px 20px;
	font-size: 14px;
	font-weight: 500;
	background-color: #993399;
	cursor: pointer
}

#reg {
	float: right;
	margin: 10px auto;
	border: 1px solid #484848;
	border-radius: 3px;
	padding: 7px 20px;
	font-size: 14px;
	font-weight: 500;
	background-color: #989898;
	cursor: pointer
}

#reg a {
	text-decoration: none;
	color: white
}

#log a {
	text-decoration: none;
	color: white
}

.mli{
width:20%
}

.mainmenu {
	background: #9E9E9E;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 40px;
}

.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.mainmenu ul li {
	float: left
}

.mainmenu ul li a {
	display: block;
	color: #383838;
	padding:15px;
	text-align:center;
	text-decoration: none;
	font-size: 16px
}

.mainmenu ul li a:hover {
	background: #336699;
	
        box-shadow: 0px 0px 20px #336699;
        color: white;
  
        
}




.slider {
	
}

#panel {
	padding: 5px;
	text-align: center;
	background-color: #F0F0F0;
	margin-top: 25px;
}

#panel {
	height: 250px;
	padding: 50px;
	display: none;
}

#panel2 {
	padding: 5px;
	text-align: center;
	background-color: #F0F0F0;
	margin-top: 25px;
}

#panel2 {
	height: 300px;
	padding: 50px;
	display: none;
}

#err-user {
	font-size: 14px;
	font-weight: 700;
	color: red;
	display: none;
	white-space: nowrap;
}

#err-pass {
	font-size: 14px;
	font-weight: 700;
	color: red;
	display: none;
	white-space: nowrap;
}

.username {
	margin-top: 25px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border: 1px solid #484848;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 500;
	width: 280px;
}

.password {
	margin: 10px auto;
	border: 1px solid #484848;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 500;
	width: 280px;
}

.submit {
	float: left;
	margin-top: 40px;
	margin-left: 300px;
	margin-right: 30px;
	background-color: #808080;
	border: 1px solid #484848;
	width: 100px;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 500;
	color: white;
	cursor: pointer
}

.forpass {
	float: left;
	margin-top: 40px;
	margin-left: 300px;
	margin-right: 30px;
	font-size: 14px;
	font-weight: 700;
	display: none
}

.email {
	margin: 10px auto;
	border: 1px solid #484848;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 500;
	width: 280px;
}

.con-password {
	margin: 10px auto;
	border: 1px solid #484848;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 500;
	width: 280px;
}

.create-account {
	float: left;
	margin-top: 40px;
	margin-left: 300px;
	margin-right: 30px;
	background-color: #808080;
	border: 1px solid #484848;
	width: 150px;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 500;
	color: white;
	cursor: pointer
}

.logged {
	float: right;
	width: 250px;
	margin-top:40px;
	margin-left: 10px;
	margin-right: 15px
}

#logname {
	float: right;
	margin: 10px auto;
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
	color: #9E790B;
}

#logout {
	float: right;
	overflow: hidden;
	font-size: 14px;
	margin-left: 200px;
	font-weight: 700;
	padding: 2px;
	cursor: pointer
}

#logout a {
	color: #5C3150
}

#heading {
	text-align: center;
	color: #FF00FF;
	margin-top: 10px
}

#para1 {
	text-align: left;
	font-size: 14px;
	color: black;
	width: 90%;
}

#pic {
	margin: 2px;
	border: 1px solid #0000ff;
	height: 250px;
	width: 550px;
	float: left;
}

.show_add {
	margin-bottom: 10px;
	padding-bottom: 50px;
	padding-left: 10px;
	border-bottom: 1px solid #dddddd
}

.add_show {
	float: left;
	width: 485px;
	font-size: 16px;
	font-weight: 500;
}

.add_showName {
	float: right;
	margin-left: 5px;
	width: 480px;
	font-size: 16px;
	font-weight: 500;
}

.addShowName {
	border: 1px solid #484848;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 500;
	width: 200px;
}

.br_show{
    
    margin-left:60px
}

#br_box {
	width: 270px;
	height: 24px;
	border-radius: 3px;
	padding: 1px;
	border-color: #CC33CC
}

#show_infobutton {
	margin-left: 20px;
}

#show_info {
	margin-left: 20px;

}

.home_page_btn{
	width: 85px;
	height: 24px;
	border-radius: 3px;
	padding: 1px;
	color: white;
	background-color: #5A5A5A;
	cursor: pointer;
	border-color: #878787
}




.b-ajax-wrapper{
	overflow: hidden;
	max-height: 380px;
	background-color: #B9ECFE;
	border-radius: 10px;
}

#___popup {
	background-color: #B9ECFE;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 700px;
	max-width: 700px;
	min-height: 100px;
	height: auto;	
}

.b-close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
}

#add_show_btn {
	margin-left: 20px;
	width: 85px;
	height: 24px;
	border-radius: 3px;
	padding: 1px;
	color: white;
	background-color: #5A5A5A;
	cursor: pointer;
	border-color: #878787
}

.registered_show {
	overflow: hidden;
	margin-top: 20px;
	border-bottom: 1px #F3C1F5 solid
}

.registered_show h2 {
	margin-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	color: #0A6578;
	text-decoration: none
}

.yourshow {
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
	width: 300px;
	border-right: 1px solid #707070
}

.yourshowlist {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px
}

#airdate {
	font-size: 16px;
	font-weight: 500;
	color: black;
	text-decoration: none;
	margin-bottom: 5px
}

.subs_link {
	margin-left: 10px;
	text-decoration: none
}

.subs_link a {
	font-size: 14px;
	color: dimgray;
	text-decoration: none
}

.subs_link a:hover {
	text-decoration: underline;
	color: blueviolet
}

.maincontent {
	overflow: hidden;
	margin-top: 40px
}

.maincontent h2 {
	margin-bottom: 20px	
}

.content {
	float: right;
	width: 420px;
	margin-left: 60px;
        overflow: hidden;
}

.sidebar {
	float: left;
	width: 420px;
        overflow: hidden
}

.sidebar h2 {
	margin-left: 12px
}

.sidebar ul {
	list-style: none
}

.sidebar ul li {
	padding: 5px;
	margin-left: 10px;
	border-bottom: 1px solid #FFFFFF
}

.sidebar ul li a {
	text-decoration: none;
	color: #6423CC
}

.sidebar ul li a:hover {
	color: #301929;
	text-decoration: underline
}

.content ul {
	list-style: none
}

.content ul li {
	padding: 5px;
	margin-right: 10px;
	border-bottom: 1px solid #FFFFFF
}

.content ul li a {
	text-decoration: none;
	color: #6423CC
}

.content ul li a:hover {
	color: #301929;
	text-decoration: underline
}

.sch-content {
	float: right;
	width: 690px;
	margin-left: 40px;
}

.sch-sidebar {
	float: left;
	width: 150px;
	margin-top: 20px
}

#PS {
	margin-left: 10px;
	border-bottom: 1px solid #4D2D13;
	border-top: 1px solid #4D2D13;
	padding: 4px;
	cursor: pointer;
	color: #062E33
}

#CS {
	margin-left: 10px;
	border-bottom: 1px solid #4D2D13;
	padding: 4px;
	cursor: pointer;
	color: red
}

#CLS {
	margin-left: 10px;
	border-top: 1px solid #4D2D13;
	border-bottom: 1px solid #4D2D13;
	cursor: pointer;
	color: red;
	padding-top: 5px;
	padding-bottom: 5px
}

.sch-content ul {
	list-style: none
}

.sch-content ul li {
	padding: 5px;
	border-bottom: 1px solid #FFFFFF
}

.sch-content ul li a {
	text-decoration: none;
	color: #6423CC
}

.sch-content ul li a:hover {
	background: #E0E0E0
}

.br_showinfo{
    margin-top:30px;border-top:1px solid #DDDDDD 
}
.br_show_name{
    margin-left: 20px;
    margin-right: 15px
}
#br_show_header{
font-size:18px;
color:#000033;
text-decoration:underline;
}
#br_show_desc{
padding-left:15px;
color:#660066
}
#added_on{
font-size:16px;
color:#663300
}

.footer {
	background: #CC99FF;
	color: #FFFFFF;
	margin-top: 100px;
	padding: 10px
}

.container {width: 100px; height: 100px; margin: 0 auto; overflow: hidden;}
.pb_content {width:80px; height: 80px; margin:0 auto; padding-top:20px;}
.contentBar {width:90px; margin:0 auto; padding-top:20px; padding-bottom:20px;}

@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

.circle {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}
